@{
  ViewBag.Title = "Home Page";
}

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h2>SAR Page forwarding</h2>
    <p>This service forwards pages from King County ESAR's notification system to SMS on your phone. While the ESAR system uses free Email-to-SMS gateway services, this service
      sends them as true SMS messages. Receiving messages as SMS may work better for you with your carrier and/or phone.</p>
    <p>I set up this service to suit my needs. I'm happy to offer it to you as-is.</p>
    <p>Sending messages over SMS does require the use of a paid service. I am charging a minimal fee ($1.00/mo) plus the actual cost of messages sent (0.75-2.25 cents/message, typical) to cover these costs.<p>
    
    <p>To get started use the button below to access your settings:</p>
    <a href="/home/setup" class="btn btn-primary">Go To Setup</a>
  </div>
</div>